{% extends "master.html"%}

{% block title %}
Detail about {{vocabulary.word }}
{% endblock %}

{% block content%}
<div class="mysearch">
    {% if search %}
    <h1> Your search: {{ search }}</h1>
    <h1> Your language: {{ language }}</h1>
    {% for wordOriganal in wordSearch%}
  
    <a href="{% url 'details' wordOriganal.slug %}">
     
    <h1> {{ wordOriganal }}</h1>
    {% empty %}
    <h1>not have vocabulary to load</h1>
    {% endfor %}
    {% else %}
    <h1> empty</h1>
    {% endif %}

   
 
</div>
{% endblock %}

