{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{% static 'mystyle.css' %}">

<body>
  <div class=header style="background-color: #ffccdd">
    <a class="logo_link" href="https://www.ldoceonline.com/">
      <img class="logo" src="{% static 'images/logodictionary.png' %}" title="Go back to the home page" width="42"
        height="42" style="vertical-align:top" />
    </a>

    <form class="search-form" method="POST" action="{% url 'search'%}">



      <select class="search_dictionary_selector custom-select">
        <option value="vietnam-english" selected="selected" data-label="VietNam-English" data-placeholder="VietNam-English">
          English
        </option>
        <option value="english-japanese" data-label="English - Japanese" data-placeholder="English - Japanese">
          English - Japanese
        </option>
        <option value="english-korean" data-label="English - Korean" data-placeholder="English - Korean">
          English - Korean
        </option>
        <option value="english-spanish" data-label="English - Spanish" data-placeholder="English - Spanish">
          English - Spanish
        </option>
        <option value="japanese-english" data-label="Japanese - English" data-placeholder="Japanese - English">
          Japanese - English
        </option>
        <option value="spanish-english" data-label="Spanish - English" data-placeholder="Spanish - English">
          Spanish - English
        </option>
      </select>

      {% csrf_token %}
      <input class="search-input" type="search" name="search">
      <button class="btn" type="submit"> Search </button>
    </form>



  </div>
  <!-- <table>
  <tr>
<th>Word</th>
<th>Description</th>
<th>Example</th> 
</tr>
{% for x in vocabulary %}
<tr>

  {% comment "this is count reserve" %}
  <li>{{ forloop.revcounter }}</li>
  {% endcomment %}
 <td> {{ x.word }} {#write by rosa#}</td>
 <td>{{ x.des }}</td>
 <td>{{ x.example }}</td>
  {% empty %}
  <li>not have vocabulary to load</li>
{% endfor %}
</table>
{% include 'footer.html' with days=' 7.1'%} -->
</body>

</html>