{% load static %}
<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{% static 'mystyle.css' %}">
  <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>


  <div class="row">
    <div class="col-lg-12 card-margin">
      <div class="card search-form">
        <div class="card-body p-0">
          <form id="search-form" class="search-form" method="POST" action="{% url 'search'%}">
            {% csrf_token %}
            <div class="row">
              <div class="col-12">
                <div class="row no-gutters">
                  <div class="col-lg-3 col-md-3 col-sm-12 p-0">

                    <select class="form control" name="option_language" id="option_language">
                      <option value="vietnam-english" selected="selected" data-label="VietNam-English"
                        data-placeholder="VietNam - English">
                        VietNam - English
                      </option>
                      <option value="vietnam-japanese" data-label="VietNam - Japanese"
                        data-placeholder="VietNam - Japanese">
                        VietNam - Japanese
                      </option>
                      <option value="vietnam-korean" data-label="VietNam - Korean" data-placeholder="VietNam - Korean">
                        VietNam - Korean
                      </option>
                      <option value="vietnam-spanish" data-label="VietNam - Spanish"
                        data-placeholder="VietNam - Spanish">
                        VietNam - Spanish
                      </option>
                      <option value="vietnam-chinese" data-label="VietNam - Chinese"
                        data-placeholder="VietNam - Chinese">
                        VietNam - Chinese
                      </option>
                      <option value="vietnam-russian" data-label="VietNam - Russian"
                        data-placeholder="VietNam - Russian">
                        VietNam - Russian
                      </option>
                    </select>

                  </div>

                  <div class="col-lg-8 col-md-6 col-sm-12 p-0">

                    <input class="form_control" type="search" name="search_language" id="search_language"
                      placeholder="VietNam - English">
                  </div>
                  <div class="col-lg-1 col-md-3 col-sm-12 p-0">
                    <i class="fas fa-search fa-fw fa-lg"></i>

                  </div>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="container justify-content-center">

    <div class="row">

      <div class="col-md-8">

        <div class="input-group mb-3">
          <input class="form-control input-text" type="search" name="search_language" id="search_language"
            aria-label="Recipient's username" aria-describedby="basic-addon2" placeholder="VietNam - English">
           
            <div class="input-group-append">
              <button class="btn btn-outline-warning btn-lg" type="button"> <i class="fas fa-search fa-fw fa-lg"></i></button>
            </div>
        </div>

      </div>

    </div>


  </div>
</body>
<script src="{% static 'mystyle.js' %}"></script>

</html>